.gradle
local.properties
build
.idea/*
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
*.iml
.idea/compiler.xml
.idea/assetWizardSettings.xml
.idea/inspectionProfiles
